<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Essentails for Women App</title>

    <link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/libs/angular-toastr/angular-toastr.min.css" rel="stylesheet" />
    <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/libs/ratchet-v2.0.2/css/ratchet.min.css" rel="stylesheet" />

    <link href="assets/css/bundle.min.css" rel="stylesheet" />
</head>
<body style="position: static;top: 0;right: 0;bottom: 0;left: 0;font-size: 17px;line-height: 21px; color: #000;background-color: #fff;">

    <header ng-controller="appController"></header>

    <div class="wrapper" ui-view="">

    </div>

    <script type="text/ng-template" id="errortemplate.html">
        <div class="modal-header">
            <button class="close" aria-label="Close" type="button" ng-click="closeDialog()" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">{{model.ErrorHeader}}</h4>
        </div>
        <div class="modal-body dialog-content">
            <div class="error-dialog-details">
                <div>{{model.ErrorDetails}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-danger pull-right" ng-click="closeDialog()" value="OK" />
        </div>
    </script>

    <script type="text/javascript" src="assets/libs/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-aria.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-mocks.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular/angularjs-geolocation.min.js"></script>
    <script type="text/javascript" src="assets/libs/bootstrap/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular-toastr/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="assets/libs/lodash/lodash.js"></script>
    <script type="text/javascript" src="assets/libs/angular-simple-logger/angular-simple-logger.js"></script>
    <script type="text/javascript" src="assets/libs/angular-maps/angular-google-maps.js"></script>
    <script type="text/javascript" src="assets/libs/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>

    <script type="text/javascript" src="app/bundle.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>
