<header class="bar bar-nav">
    <h1 class="title">Essentails for Women</h1>
</header>
<div class="content sp-main-view-container">
    <form ng-submit="searchSalons()">
        <div class="row">
            <div class="col-lg-12" style="margin:5px;">
                <div class="input-group" style="max-width:100%; margin-bottom:5px; margin-top:5px;">
                    <input type="search" placeholder="Search" ng-model="SearchFilter.SearchText" style="max-width:100%; border:1px solid #ddd;">
                    <span class="input-group-btn" id="sizing-addon2" style="max-width:100%;height: 100%;"><button class="btn" style="max-width:100%;height: 35px;padding: 6px 12px;"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
        </div>
    </form>
    <ul class="table-view">
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="aboutus" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-gear"></span>
                    <span>About Us</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="services" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-gear"></span>
                    <span>Services</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" href="#" data-transition="slide-in" ng-click="goToSalons($event)">
                <div class="media-body">
                    <span class="media-object icon icon-home"></span>
                    <span>Nearest Salons</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" href="#" data-transition="slide-in" ng-click="goToPromotions($event)">
                <div class="media-body">
                    <span class="media-object icon icon-bars"></span>
                    <span>Specials In Your Area</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="beautytips" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-info"></span>
                    <span>Beauty Tips</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="registersalon" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-more"></span>
                    <span>Register A Salon</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="contactus" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-info"></span>
                    <span>Contact Us</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="shareapp" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-share"></span>
                    <span>Share With Friend</span>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" ui-sref="technicalreport" data-transition="slide-in">
                <div class="media-body">
                    <span class="media-object icon icon-plus"></span>
                    <span>Technical Report</span>
                </div>
            </a>
        </li>
    </ul>
</div>
<footer></footer>

