<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Nearest Salons
            <!--<small>preview of simple tables</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="landing"><i class="fa fa-home"></i> Home</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header" style="min-height:50px;">
                <!--<h3 class="box-title">Salons</h3>-->
                <div class="input-group-btn">
                </div>
                <div class="box-tools">
                    <div class="input-group">
                        <input name="table_search" class="form-control input-sm pull-right" style="width: 250px;" type="text" placeholder="Search" ng-model="SearchFilter.SearchText">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default" ng-click="searchSalons()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding" app-grid="salonsGrid" app-grid-options="salonsGridOptions">
                <table class="table table-hover table-striped tableContainer" ng-if="salonsGrid.DataSource.Data.length > 0">
                    <tbody>
                        <tr ng-repeat="salon in salonsGrid.DataSource.Data" ng-class="$index % 2 == 1 ? 'altrow': ''">
                            <td class="width20 xs-width30">
                                <img ng-attr-src="{{salon.Logo.NormalRelativeFileName}}" alt="{{salon.Name}}" class="img-circle" width="80" height="80" />
                            </td>
                            <td class="width15 xs-width50">{{salon.Name}}</td>
                            <td class="mobile-hidden width40">
                                {{salon.Description}}
                            </td>
                            <td class="mobile-hidden width10">{{salon.Distance}} <small>km away</small></td>
                            <td class="mobile-hidden text-right width15">
                                <small class="action-label label label-info" ng-click="viewSalon(salon);"><i class="fa fa-eye"></i> View</small>
                                <small class="action-label label label-info" ng-click="goToSalonDirection(salon);"><i class="fa fa-map-marker"></i> Go There</small>
                            </td>
                            <td class="mobileInfo">
                                <i mobile-table-toggle class="fa fa-info-circle"></i>
                                <div class="info-container hide">
                                    <table>
                                        <tr>
                                            <td><b>Description</b></td>
                                            <td>{{salon.Description}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Distance</b></td>
                                            <td>{{salon.Distance}} <small>km away</small></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-right">
                                                <small class="action-label label label-info" ng-click="viewSalon(salon);">View</small>
                                                <small class="action-label label label-info" ng-click="goToSalonDirection(salon);">
                                                    Go There
                                                </small>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix" ng-show="salonsGrid.Paging.Pages.length > 0">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li ng-click="salonsGrid.SetPage($event, 1)" ng-disabled="salonsGrid.Paging.IsFirstPage"><a href="#">«</a></li>
                    <li ng-repeat="page in salonsGrid.Paging.Pages" ng-click="salonsGrid.SetPage($event, page)" ng-disabled="salonsGrid.Paging.PageIndex==page"><a href="#">{{page}}</a></li>
                    <li><a href="#" ng-click="salonsGrid.SetPage($event, salonsGrid.Paging.TotalPages)" ng-disabled="salonsGrid.Paging.IsLastPage">»</a></li>
                </ul>
            </div>
        </div><!-- /.box -->
    </section>
</div>

