body a {
  color: #3c8dbc;
}
body i.required {
  color: #dd4b39;
}
body .input-group,
body .input-group-btn {
  max-width: 300px;
}
body .form-control {
  border-radius: 0 !important;
  box-shadow: none;
  border-color: #d2d6de;
}
body .form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .btn-primary:hover,
body .btn-primary:active,
body .btn-primary.hover {
  background-color: #367fa9;
}
body .btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
body .form-group {
  margin-bottom: 5px  !important;
}
body div.k-valid-msg {
  display: none;
}
body div.k-invalid-msg {
  display: inline-block;
  color: #dd4b39  !important;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}
body div.summary-validation-valid {
  display: none;
}
body div.summary-validation-invalid {
  display: inline-block;
  color: #dd4b39  !important;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid;
  box-shadow: 0 0.1px 0.1px #dd4b39, inset 0 1px 0 #fff;
  padding: 10px;
  border-radius: 1px;
  margin-top: 5px;
}
body div.haserror input,
body div.haserror select,
body div.haserror textarea {
  border: 1px solid #dd4b39  !important;
}
body .addItemButton {
  cursor: pointer;
}
body .addItemButton i {
  padding-right: 5px;
}
body .action-label {
  cursor: pointer;
}
.womenessentail button {
  width: 100px;
  height: 30px;
  left: -1px;
  top: 612px;
  color: #fff;
  background-color: #ff6091;
  border-color: #d81b60;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  font-size: 14.0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  z-index: 7;
  opacity: 1;
  pointer-events: auto;
}
.angular-google-map-container {
  height: 400px;
  margin-bottom: 15px;
}
.panel-primary {
  padding: 15px;
}