
<header class="bar bar-nav">
    <h1 class="title">Women's Essentials</h1>
</header>
<div class="content">
    <div class="center-box">
        <button class="btn btn-default" ng-click="goToMain()">Come In</button>
    </div>
</div>
<footer></footer>

<!--<ons-page>
    h>
        <div class="lef"></div>
        <div class="center">Women's Essentails</div>
        <div class="right"></div>
    </ons-toolbar>
    <main id="home-page">
        <div class="center-box">
            <button class="btn btn-default" ng-click="goToMain()">Come In</button>
        </div>
    </main>
</ons-page>-->
