<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" href="#" data-transition="slide-out" ng-click="goToSalons($event)">
        <span class="icon icon-left-nav"></span>
        Back
    </a>
    <h1 class="title">Women's Essentials</h1>
</header>
<div class="content sp-salon-view-container">

    <h4 style="text-align: center; text-transform: uppercase; color:white; padding:10px;">
        {{salonFactory.salon.Name}}
    </h4>
    <div style="text-align: center;">
        <div class="col-md-6" style="float: none; margin: auto;">
            <div class="box box-solid">
                <div class="box-body">
                    <div uib-carousel active="active" interval="5000" no-wrap="false">
                        <div uib-slide ng-repeat="logo in salonFactory.salon.Logos" index="$index">
                            <img ng-src="{{logo.NormalRelativeFileName}}" alt="{{salonFactory.salon.Name}}" style="margin:auto;">
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;"> {{salonFactory.salon.Description}}</p>
                    <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;">
                        <span ng-if="salonFactory.salon.PhysicalAddressLine1">{{salonFactory.salon.PhysicalAddressLine1}}</span>
                        <span ng-if="salonFactory.salon.PhysicalAddressLine2">{{salonFactory.salon.PhysicalAddressLine2}}</span>
                        <span ng-if="salonFactory.salon.PhysicalAddressSuburb">{{salonFactory.salon.PhysicalAddressSuburb}}</span>
                        <span ng-if="salonFactory.salon.PhysicalAddressCity">{{salonFactory.salon.PhysicalAddressCity}}</span>
                        <span ng-if="salonFactory.salon.PhysicalAddressPostalCode">{{salonFactory.salon.PhysicalAddressPostalCode}}</span>
                        <span ng-if="salonFactory.salon.Distance">{{salonFactory.salon.Distance}} km</span>
                    </p>
                    <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;" ng-if="salonFactory.salon.BusinessContactCode && salonFactory.salon.BusinessContactNumber"> {{'(' + salonFactory.salon.BusinessContactCode + ') ' + salonFactory.salon.BusinessContactNumber}} </p>
                    <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;"> {{salonFactory.salon.MobileNumber}}</p>
                    <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;"> {{salonFactory.salon.EmailAddress}}</p>

                </div>
            </div><!-- /.box -->
        </div>
    </div><!-- /.box-header -->
    <div style="padding:15px;">
        <div class="row">
            <div class="col-md-12">
                <small class="pull-left">
                    <a href="#" ng-click="viewFeedbackHistory($event)" style="color:black; font-size:12px;">
                        {{'view feedback (' + salonFactory.salon.FeedbackCount + ')'}}
                    </a>
                </small>
                <span style="float:right;" uib-rating ng-click="setRating(salonFactory.salon.AvarageRating)" ng-model="salonFactory.salon.AvarageRating" max="5" read-only="false" aria-labelledby="default-rating"></span>
                <p style="float:right; font-size:11px; color:black; padding-right:5px;">{{'From '+ salonFactory.salon.RatingCount + ' users.'}}</p>
            </div>
        </div>
        <button class="btn pull-right" ng-click="goToSalonDirections()">
            Take Me There
        </button>
        <button class="btn pull-right" style="margin-right:5px;" ng-click="giveFeedback()">
            Give Feeback
        </button>
    </div>
    <div class="col-md-12" style="margin-top:25px;">
        <div id="map" style="height:150px;width:100%; margin-top:10px;"></div>
    </div>
    <div ng-repeat="(key, value) in salonFactory.products" ng-if="products.length == 0" style="padding-top: 10px;">
        <h5 class="content-padded" style="text-transform: uppercase;">{{key}}</h5>
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="(sckey, scvalue) in value">
                <a class="navigate-right" href="#" data-transition="slide-in" ng-click="viewProducts($event, key, sckey, scvalue)">
                    <small class="pull-left">{{sckey}}</small>
                </a>
            </li>
        </ul>
    </div>
    <ul class="table-view" ng-if="products.length > 0" style="border-width:0; padding-top: 10px;">
        <li class="table-view-cell" style="border-width:0; padding-left: 2px;">
            <div class="media-body">
                <button class="btn" ng-click="backToSubCategories()">
                    <span class="icon icon-left"></span>
                    Categories
                </button>
            </div>
        </li>
        <li class="table-view-cell table-view-divider" style="padding: 15px 5px 15px 5px;">{{categoryName}} {{subCategoryName}} Products</li>

        <li class="table-view-cell" ng-repeat="product in products">
            <small class="pull-left">{{product.Name}}</small><small class="pull-right">R {{product.Price| number:2}}</small> <a ng-if="product.IsInPromotion" href="{{'#popover_' + $index}}" class="fa fa-star" style="position: absolute;top: 0;left: 0; z-index: 999;color: gold;"></a>

            <div id="{{'popover_' + $index}}" class="popover" ng-if="product.IsInPromotion">
                <div class="content" style="min-height:50px; padding:15px;">
                    <small class="pull-left">{{product.Promotion.Name}}</small><small class="pull-right">R {{product.Promotion.Price| number:2}}</small>
                </div>
            </div>

        </li>
        <li class="table-view-cell" style="border-width:0; padding-left: 2px;">
            <div class="media-body">
                <button class="btn" ng-click="backToSubCategories()">
                    <span class="icon icon-left"></span>
                    Categories
                </button>
            </div>
        </li>
    </ul>
</div>
<footer></footer>

<div id='loadingmessage' ng-show="isLoading">
    <div><p>{{loadingMessage}}</p><img src="assets/img/loading-image.gif" /></div>
</div>

<script type="text/ng-template" id="salon-feedback-template.html">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="closeDialog()" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Give Feedback</h4>
    </div>
    <div class="modal-body dialog-content">
        <div>
            <textarea ng-model="model.Feedback" rows="3"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-success pull-right" ng-click="addFeedback()" value="OK" style="width:auto; margin-left:5px;" />
        <input type="button" class="btn btn-default pull-right" ng-click="closeDialog()" value="Cancel" style="width:auto" />
    </div>
</script>

<script type="text/ng-template" id="salon-feedback-history-template.html">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="closeDialog()" data-dismiss="modal">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Feedback History</h4>
    </div>
    <div class="modal-body dialog-content">
        <div ng-repeat="feedback in feedbacks">
            <p>{{feedback.Feedback}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" ng-click="closeDialog()" value="OK" />
    </div>
</script>