<div class="content-wrapper" style="min-height: 873px;">
    <section class="content-header">
        <h1>
            {{promotionProductsFactory.product.Name}} Promotions
        </h1>
        <ol class="breadcrumb">
            <li><a href="#" ng-click="goHome($event);"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#" ng-click="goToSalons($event);"><i class="fa fa-"></i> Salons</a></li>
            <li><a href="#" ng-click="goToProducts($event);"><i class="fa fa-"></i> Products</a></li>
        </ol>
    </section>

    <section class="content">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!--<h3 class="box-title">Salons</h3>-->
                    <div class="input-group-btn">
                        <button class="btn btn-primary pull-left" ng-click="addPromotionProduct()"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="box-tools">
                        <div class="input-group">
                            <input name="table_search" class="form-control input-sm pull-right" style="width: 250px;" type="text" placeholder="Search" ng-model="SearchFilter.SearchText">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" ng-click="searchPromotionProducts()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding" app-grid="promotionProductsGrid" app-grid-options="promotionProductsGridOptions">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="promotionProduct in promotionProductsGrid.DataSource.Data" ng-class="$index % 2 == 1 ? 'altrow': ''">
                                <td>{{promotionProduct.Name}}</td>
                                <td>{{promotionProduct.Price}}</td>
                                <td>{{promotionProduct.StartDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{promotionProduct.EndDate | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <div class="animate-switch-container" ng-switch on="promotionProduct.StatusCode">
                                        <span ng-switch-when="NEW" class="label label-success">{{promotionProduct.StatusName}}</span>
                                        <span ng-switch-when="DELETED" class="label label-danger">{{promotionProduct.StatusName}}</span>
                                        <span ng-switch-when="ACTIVE" class="label label-primary">{{promotionProduct.StatusName}}</span>
                                        <span ng-switch-when="INACTIVE" class="label label-warning">{{promotionProduct.StatusName}}</span>
                                    </div>
                                </td>
                                <td>
                                    <small class="action-label label label-info" ng-click="editPromotionProduct(promotionProduct);"><i class="fa fa-pencil"></i> Edit</small>
                                    <small class="action-label label label-info" ng-click="deletePromotionProduct(promotionProduct);"><i class="fa fa-remove"></i> Delete</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix" ng-show="promotionProductsGrid.Paging.Pages.length > 0">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li ng-click="promotionProductsGrid.SetPage($event, 1)" ng-disabled="promotionProductsGrid.Paging.IsFirstPage"><a href="#">«</a></li>
                        <li ng-repeat="page in promotionProductsGrid.Paging.Pages" ng-click="promotionProductsGrid.SetPage($event, page)" ng-disabled="promotionProductsGrid.Paging.PageIndex==page"><a href="#">{{page}}</a></li>
                        <li><a href="#" ng-click="promotionProductsGrid.SetPage($event, promotionProductsGrid.Paging.TotalPages)" ng-disabled="promotionProductsGrid.Paging.IsLastPage">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </section>
</div>

<div ng-include="'app/components/promotionproducts/modals/savePromotionProductModalView.html'"></div>