<div class="content-wrapper">

    <div class="center-box">
        <div class="center-box-body">
            <h3 class="center-box-msg">Welcome Home</h3>
            <p>
                This is the hub of all your beauty places of your choice. Essentails for Women provices for you the gateway to the places. You can search by the area where the salon is, the services that are ithin your area or beauticiain you want.
            </p>
        </div>
        <div class="footer-download">
            <div class="app-downloads-container">
                <a href="https://itunes.apple.com/za/app/gumtree-south-africa-sell/id491883603?mt=8" data-gtm="pc|AppDownloadBegin" target="/blank"><span class="app-downloads icon-logo_app_store_en"></span></a>
                <a href="https://play.google.com/store/apps/details?id=com.ebay.gumtree.za&amp;hl=en" data-gtm="pc|AppDownloadBegin" target="/blank"><span class="app-downloads icon-logo_google_play_en"></span></a>
            </div>
        </div>
    </div>
</div>
