<header class="bar bar-nav">
    <h1 class="title">Women's Essentials</h1>
</header>

<div class="content">
    <ul class="table-view">
        <li class="table-view-cell media">
            <a class="navigate-right" href="#" data-transition="slide-in" ng-click="goToSalons($event)">
                <div class="media-body">
                    <span class="media-object icon icon-home"></span>
                    <p> Nearest salons</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<footer></footer>

