
<script type="text/ng-template" id="errortemplate.html">
    <div class="modal-header">
        <h3>{{model.ErrorHeader}}</h3>
        <span ng-click="cancel()" class="close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="modal-body dialog-content">
        <div class="error-dialog-details">
            <div>{{model.ErrorDetails}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btnGrey" ng-click="closeDialog()" value="OK" />
    </div>
    <!--<md-dialog class="error-dialog">
        <md-dialog-content class="error-dialog-content">
            <h2>{{model.ErrorHeader}}</h2>
            <div class="error-dialog-details">
                <div>{{model.ErrorDetails}}</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <input type="submit" class="btn btnGrey" ng-click="closeDialog()" value="OK" />
        </md-dialog-actions>'
    </md-dialog>-->
</script>