
<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" href="#" data-transition="slide-out" ng-click="goToMain($event)">
        <span class="icon icon-left-nav"></span>
        Back
    </a>
    <h1 class="title">Essentails for Women</h1>
</header>

<div class="content sp-salons-view-container" style="overflow: initial; height:100%;">

    <form ng-submit="searchSalons(true)" style="padding-left:5px; padding-right:5px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group" style="max-width:100%; margin-bottom:5px; margin-top:5px;">
                    <input type="search" placeholder="Search" ng-model="SearchFilter.SearchText" style="max-width:100%; border:1px solid #ddd;">
                    <span class="input-group-btn" id="sizing-addon2" style="max-width:100%;height: 100%;"><button class="btn" style="max-width:100%;height: 35px;padding: 6px 12px;"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-lg-12">
                <select type="search" ng-model="SearchFilter.SubCategoryId" convert-to-number
                        class="form-control" ng-change="searchSalons(true)">
                    <option value="">Select Service</option>
                    <option ng-repeat="subCategory in subCategories" value="{{subCategory.Id}}">{{subCategory.DisplayName}}</option>
                </select>
            </div>
        </div>
    </form>
    <div>

        <div style="min-height:1%;position: relative; overflow: auto;transform: none;background: #ffd1dc !important;" id="thisElement">

            <ul class="table-view" style="min-height:1%;position: relative; overflow: auto;transform: none;"
                infinite-scroll='nextPage()' infinite-scroll-disabled='salonsFactory.isScrollDisabled' infinite-scroll-distance="1"
                infinite-scroll-container="'#thisElement'" infinite-scroll-parent="true">
                <li class="table-view-cell media" ng-repeat="salon in salonsFactory.salons" style="padding: 10px;">
                    <a data-transition="slide-in">
                        <img class="media-object pull-left" ng-attr-src="{{salon.Logo.NormalRelativeFileName}}" alt="{{salon.Name}}" width="80" height="80">
                        <div class="media-body">
                            <div class="media-content-header">
                                {{salon.Name}}
                            </div>
                            <p class="media-content-body">
                                <small>{{salon.Distance}} km away</small>
                            </p>
                        </div>
                    </a>
                    <div class="col-lg-12" style="margin-top:5px;">
                        <button class="btn pull-left" ng-click="goToSalon(salon)">
                            View Details
                        </button>
                        <button class="btn pull-right" ng-click="goToSalonDirection(salon)">
                            Take Me There
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div style='clear: both;'></div>
    </div>
</div>
<footer></footer>
