<div class="center-box">
    <div class="center-box-body">
        <p class="center-box-msg">Reset Password</p>
        <div ng-hide="isPasswordResetSuccessFull">
            <form novalidate name="frmForgotPassword" id="frmForgotPassword" app-validator validation-summary-id="forgotPasswordValidationSummary">
                <div class="form-group has-feedback">
                    <input type="text" required data-required-msg="Username is required." id="Username" name="Username" ng-model="Username" class="form-control" placeholder="Username">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="k-valid-msg" data-for="Username"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="summary-validation-valid" data-valmsg-summary="true" id="forgotPasswordValidationSummary">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">

                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="forgotpassword()" button-control action-value="Submit" action-in-progress-value="Submiting ...">Submit</button>
                    </div><!-- /.col -->
                </div>
            </form>

        </div>
        <div ng-if="isPasswordResetSuccessFull">
            <p>Your request to reset the password was successfull an email has been sent to you, with the instructions.</p>
        </div>
    </div><!-- /.login-box-body -->
</div>

<!--<div class="container-fluid contentsContainer" id="forgotPassswordContainer">
    <div id="center-box-contanier">
        <div class="center-box">
            <form novalidate name="frmForgotPassword" id="frmForgotPassword" app-validator validation-summary-id="forgotPasswordValidationSummary" ng-hide="isPasswordResetSuccessFull">
                <div class="panel panel-default">
                    <div class="panel-heading">Reset Password</div>
                    <div class="panel-body">
                        <div class="container-fluid ForgotPasswordFormContainer">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="summary-validation-valid" data-valmsg-summary="true" id="forgotPasswordValidationSummary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="Username">Username<i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error' : frmForgotPassword.Username.$invalid && frmForgotPassword.Username.$touched }">
                                    <input required data-required-msg="Username is required." id="Username" name="Username" type="text" ng-model="Username" placeholder="someone@gmail.com">
                                    <div class="k-valid-msg" data-for="Username"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 buttonRow">
                                    <input type="submit" class="btn btnGreen" ng-click="forgotpassword()" value="Submit" button-control action-value="Submit" action-in-progress-value="Submitting ..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div ng-show="isPasswordResetSuccessFull">
                <p>Your request to reset the password was successfull an email has been sent to you, with the instructions.</p>
            </div>
        </div>
    </div>
</div>-->
