<div class="center-box">
    <div class="center-box-body">
        <p class="center-box-msg">Password Reset</p>
        <div>
            <p class="ForgotPasswordDisclaimer">You have requested a password reset please enter your new password below.</p>
        </div>
        <form novalidate name="frmForgotPassword" id="frmForgotPassword" app-validator validation-summary-id="forgotPasswordValidationSummary"
              ng-hide="isPasswordResetSuccessFull">
            <div class="form-group has-feedback">
                <input required data-required-msg="Password is required." id="Password" name="Password" ng-model="model.Password" 
                       type="password" class="form-control" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[0-9]).{6,13}$" 
                       data-pattern-msg="Password must be between 6 and 13 characters containing at least one capital letter and one digit.">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="k-valid-msg" data-for="Password"></div>
            <div class="form-group has-feedback">
                <input required data-required-msg="Confirm Password is required." id="ConfirmPassword" name="ConfirmPassword" ng-model="model.ConfirmPassword"
                       type="password" class="form-control" placeholder="New Password"
                       compare data-compare-msg="Password and confirm password do not match." comparefield="model.Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="k-valid-msg" data-for="ConfirmPassword"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="summary-validation-valid" data-valmsg-summary="true" id="forgotPasswordValidationSummary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">

                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="resetpassword()"
                            button-control action-value="Reset" action-in-progress-value="Reseting ...">
                        Reset
                    </button>
                </div><!-- /.col -->
            </div>
        </form>

        <div ng-show="isPasswordResetSuccessFull">
            <p>Your password reset was successfull <a ng-click="goToLogin($event)">click here</a> to log.</p>
        </div>
    </div><!-- /.login-box-body -->
</div>



<!--<div class="container-fluid contentsContainer" id="forgotPassswordContainer">
    <div id="center-box-contanier">
        <div class="center-box">
            <form novalidate name="frmForgotPassword" id="frmForgotPassword" app-validator validation-summary-id="forgotPasswordValidationSummary"
                  ng-hide="isPasswordResetSuccessFull">
                <div class="panel panel-default">
                    <div class="panel-heading">Password Reset</div>
                    <div class="panel-body">
                        <div class="container-fluid ForgotPasswordFormContainer">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <p class="ForgotPasswordDisclaimer">You have requested a password reset please enter your new password below.</p>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="summary-validation-valid" data-valmsg-summary="true" id="forgotPasswordValidationSummary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="Username">Password<i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <input required data-required-msg="Password is required." id="Password" name="Password" type="password" ng-model="model.Password" pattern="^(?=.*?[A-Z])(?=.*?[0-9]).{6,13}$"
                                           data-pattern-msg="Password must be between 6 and 13 characters containing at least one capital letter and one digit." />
                                    <div class="k-valid-msg" data-for="Password"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="Username">Confirm Password<i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <input required data-required-msg="Confirm Password is required." id="ConfirmPassword" name="ConfirmPassword" type="password" ng-model="model.ConfirmPassword"
                                           compare data-compare-msg="Password and confirm password do not match." comparefield="model.Password" />
                                    <div class="k-valid-msg" data-for="ConfirmPassword"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 buttonRow">
                                    <input type="submit" class="btn btnGreen" ng-click="resetpassword()" value="Reset" button-control action-value="Reset" action-in-progress-value="Resetting ..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="isPasswordResetSuccessFull">
            <p>Your password reset was successfull <a ng-click="goToLogin($event)">click here</a> to log.</p>
        </div>
    </div>
</div>-->
