html body .wrapper #salons-page .center-box {
  min-height: 600px;
  padding-top: 50%;
}
html body .wrapper #salons-page .list__item {
  background-color: transparent;
}
@media (max-width: 767px) {
  html body .wrapper .center-box {
    min-height: 600px;
    padding-top: 50%;
    width: 100%;
    text-align: center;
  }
}