<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{searchSalonFactory.salon.Name}}
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="landing"><i class="fa fa-home"></i> Home</a></li>
            <li><a ui-sref="searchsalons"><i class="fa fa-home"></i> Salons</a></li>
        </ol>
    </section>
    <section class="content">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header" style="min-height:50px;">
                    <div class="col-md-6" style="float: none; margin: auto;">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="text-align:center;width:100%;">{{searchSalonFactory.salon.Name}}</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" ng-repeat="logo in searchSalonFactory.salon.Galleries" data-slide-to="{{$index}}" ng-class="$index==0?'active': ''"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item" ng-repeat="logo in searchSalonFactory.salon.Galleries" ng-class="$index==0?'active': ''">
                                            <img ng-attr-src="{{logo.NormalRelativeFileName}}" alt="{{searchSalonFactory.salon.Name}}" style="margin: auto;">
                                            <div class="carousel-caption">

                                            </div>
                                        </div>

                                    </div>
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left" style="color: gray;"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="fa fa-angle-right" style="color: gray;"></span>
                                    </a>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center; word-break: break-all;"> {{searchSalonFactory.salon.Description}}</p>
                                <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;">
                                    <span ng-if="searchSalonFactory.salon.PhysicalAddressLine1">{{searchSalonFactory.salon.PhysicalAddressLine1}}</span>
                                    <span ng-if="searchSalonFactory.salon.PhysicalAddressLine2">{{searchSalonFactory.salon.PhysicalAddressLine2}}</span>
                                    <span ng-if="searchSalonFactory.salon.PhysicalAddressSuburb">{{searchSalonFactory.salon.PhysicalAddressSuburb}}</span>
                                    <span ng-if="searchSalonFactory.salon.PhysicalAddressCity">{{searchSalonFactory.salon.PhysicalAddressCity}}</span>
                                    <span ng-if="searchSalonFactory.salon.PhysicalAddressPostalCode">{{searchSalonFactory.salon.PhysicalAddressPostalCode}}</span>
                                    <span ng-if="searchSalonFactory.salon.Distance">{{searchSalonFactory.salon.Distance}} km</span>
                                </p>
                                <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;" ng-if="searchSalonFactory.salon.BusinessContactCode && searchSalonFactory.salon.BusinessContactNumber"> {{'(' + searchSalonFactory.salon.BusinessContactCode + ') ' + searchSalonFactory.salon.BusinessContactNumber}} </p>
                                <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;"> {{searchSalonFactory.salon.MobileNumber}}</p>
                                <p style="margin-top: 10px; color: black; font-size: 12px; text-align:center;"> {{searchSalonFactory.salon.EmailAddress}}</p>
                            </div>
                        </div><!-- /.box -->
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <div style="padding:15px;">
                        <button class="btn pull-right" ng-click="goToSalonDirections()">
                            Take Me There
                        </button>
                    </div>
                    <div ng-repeat="(key, value) in searchSalonFactory.products" class="col-md-6 col-xs-12">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{key}}</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <ul class="todo-list ui-sortable">
                                    <li class="table-view-cell" ng-repeat="(sckey, scvalue) in value" style="margin-bottom:15px;">
                                        <a class="navigate-right" data-transition="slide-in" style="margin-bottom: 5px; display: block; width: 100%; height: 25px; line-height: 25px;">
                                            <small class="pull-left">{{sckey}}</small>
                                        </a>
                                        <ul class="table-view" ng-if="scvalue.length > 0" style="border-width:0; padding-top: 10px;">

                                            <li class="table-view-cell" ng-repeat="product in scvalue">
                                                <small class="pull-left">{{product.Name}}</small><small class="pull-right">R {{product.Price| number:2}}</small>

                                                <div id="{{'popover_' + $index}}" class="popover" ng-if="product.IsInPromotion">
                                                    <div class="content" style="min-height:120px;">
                                                        <small class="pull-left">{{product.Promotion.Name}}</small><small class="pull-right">R {{product.Promotion.Price| number:2}}</small>
                                                    </div>
                                                </div>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.box-body -->
                        </div>
                    </div>

                </div><!-- /.box -->
            </div>
        </div>
    </section>
</div>
