<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" data-transition="slide-out" ui-sref="salons">
        <span class="icon icon-left-nav"></span>
        Back
    </a>
    <h1 class="title">Women's Essentials</h1>
</header>

<div class="content sp-propmotions-view-container">
    <div>
        <ul class="table-view">
            <li class="table-view-cell media" ng-repeat="promotion in promotions" style="padding:10px;">
                <div style="display: block;width: 100%;min-height: 25px;">
                    <small class="pull-left">{{promotion.Name}}</small>
                    <small class="pull-right">R {{promotion.Price| number:2}}</small>
                </div>
                <div style="display: block;width: 100%;min-height: 25px;">
                    <small class="pull-left"> <b>From </b> {{promotion.StartDate | date: 'dd/MM/yyyy'}}</small>
                    <small class="pull-right"><b>Till </b> {{promotion.EndDate| date:'dd/MM/yyyy'}}</small>
                </div>
                <div style="display: block;width: 100%;min-height: 25px;">
                    <button class="btn pull-right" ng-click="goToSalonDirection(promotion.CompanyId)">
                        Take Me There
                    </button>
                </div>
            </li>
        </ul>

    </div>
</div>
<footer></footer>


<div id='loadingmessage' ng-show="isLoading">
    <div><p>{{loadingMessage}}</p><img src="assets/img/loading-image.gif" /></div>
</div>
