<header class="bar bar-nav">
    <h1 class="title">Women's Essentials</h1>
</header>

<div class="content">
    <div class="container-fluid">
        <form ng-submit="searchSalons()">
            <div class="row">
                <div class="col-lg-6">
                    <input type="search" placeholder="Search" ng-model="SearchFilter.SearchText">
                </div>
                <div class="col-lg-6">
                    <select type="search" ng-model="SearchFilter.SubCategoryId" class="form-control" ng-change="searchSalons()">
                        <option value=""></option>
                        <option ng-repeat="subCategory in subCategories" value="subCategory.Id">{{subCategory.DisplayName}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <ul class="table-view">
        <li class="table-view-cell media">
            <a class="navigate-right" href="#" data-transition="slide-in" ng-click="goToSalons($event)">
                <div class="media-body">
                    <span class="media-object icon icon-home"></span>
                    <p> Nearest salons</p>
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right" href="#" data-transition="slide-in" ng-click="goToPromotions($event)">
                <div class="media-body">
                    <span class="media-object icon icon-bars"></span>
                    <p>Trending</p>
                </div>
            </a>
        </li>
    </ul>
</div>
<footer></footer>

