<div class="center-box">
    <div class="center-box-body">
        <p class="center-box-msg">Change Password</p>
        <form novalidate name="frmChangePassword" id="frmChangePassword" app-validator validation-summary-id="changePasswordValidationSummary">
            <div class="form-group has-feedback">
                <input type="text" id="Username" name="Username" ng-model="model.Username" class="form-control" placeholder="Username"  ng-disabled="true">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input required data-required-msg="Old Password is required." id="OldPassword" name="OldPassword" ng-model="model.OldPassword" 
                       type="password" class="form-control" placeholder="Old Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="k-valid-msg" data-for="OldPassword"></div>
            <div class="form-group has-feedback">
                <input required data-required-msg="New Password is required." id="Password" name="Password" ng-model="model.Password" 
                       type="password" class="form-control" placeholder="New Password" pattern="^(?=.*?[A-Z])(?=.*?[0-9]).{6,13}$"
                       data-pattern-msg="Password must be between 6 and 13 characters containing at least one capital letter and one digit.">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="k-valid-msg" data-for="Password"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="summary-validation-valid" data-valmsg-summary="true" id="changePasswordValidationSummary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">

                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="changepassword()" 
                            button-control action-value="Submit" action-in-progress-value="Submiting ...">Submit</button>
                </div><!-- /.col -->
            </div>
        </form>

        <a ui-sref="forgotpassword">I forgot my password</a><br>
    </div><!-- /.login-box-body -->
</div>


<!--<div class="container-fluid contentsContainer" id="loginContainer">
    <div id="center-box-contanier">
        <div class="center-box">
            <form novalidate name="frmChangePassword" id="frmChangePassword" app-validator validation-summary-id="changePasswordValidationSummary">
                <div class="panel panel-default">
                    <div class="panel-heading">Change Password</div>
                    <div class="panel-body">
                        <div class="container-fluid LoginContainer">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="summary-validation-valid" data-valmsg-summary="true" id="changePasswordValidationSummary">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="Username">Username<i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 col-xs-12">
                                    <input id="Username" name="Username" type="text" ng-model="model.Username" placeholder="Enter Username" ng-disabled="true">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="OldPassword">Old Password <i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input required data-required-msg="Password is required." id="OldPassword" name="OldPassword" type="password" ng-model="model.OldPassword" />
                                    <div class="k-valid-msg" data-for="OldPassword"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="Password">Password <i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input required data-required-msg="Password is required." id="Password" name="Password" type="password" ng-model="model.Password" 
                                           pattern="^(?=.*?[A-Z])(?=.*?[0-9]).{6,13}$"
                                           data-pattern-msg="Password must be between 6 and 13 characters containing at least one capital letter and one digit." />
                                    <div class="k-valid-msg" data-for="Password"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 label">
                                    <label for="ConfirmPassword">New Password <i class="required">*</i></label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input required data-required-msg="Confirm Password is required." id="ConfirmPassword" name="ConfirmPassword" type="password" ng-model="model.ConfirmPassword"
                                           compare data-compare-msg="Password and confirm password do not match." comparefield="model.Password" />
                                    <div class="k-valid-msg" data-for="ConfirmPassword"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-12"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="submit" class="btn btn-block btnGreen" ng-click="changepassword()" value="Submit" button-control action-value="Submit" action-in-progress-value="Submitting ..." />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>-->
