<header class="bar bar-nav">
    <a class="btn btn-link btn-nav pull-left" href="#" data-transition="slide-out" ng-click="goToSalons($event)">
        <span class="icon icon-left-nav"></span>
        Back
    </a>
    <h1 class="title">Essentails for Women</h1>
</header>
<div class="content sp-salon-direction-view-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <select type="search" ng-model="ViewType" style="padding:10px;"
                    class="form-control">
                <option value="Map">Map</option>
                <option value="Direction">Direction</option>
            </select>
        </div>
        <div class="panel-body">
            <div id="map-canvas" ng-show="ViewType == 'Map'">
                <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
                    <marker coords="marker.center"></marker>
                </ui-gmap-google-map>
            </div>
            <div id="directionsList" ng-show="showList && ViewType == 'Direction'" class="panel panel-primary"></div>
        </div>
    </div>
</div>
<footer></footer>

<div id='loadingmessage' ng-show="isLoading">
    <div><p>Getting Directions ...</p><img src="assets/img/loading-image.gif" /></div>
</div>

