<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Requests
        </h1>
        <ol class="breadcrumb">
            <li><a href="#" ng-click="goHome($event);"><i class="fa fa-home"></i> Home</a></li>
        </ol>
    </section>

    <section class="content">

        <div class="box">
            <div class="box-header" style="min-height:50px;">
                <div class="input-group-btn">

                </div>
                <div class="box-tools">
                    <div class="input-group">
                        <input name="table_search" class="form-control input-sm pull-right" style="width: 250px;" type="text" placeholder="Search" ng-model="SearchFilter.SearchText">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body" app-grid="requestsGrid" app-grid-options="requestsGridOptions" style="margin-top: 10px; margin-bottom: 30px;">
                <table class="table table-hover table-striped tableContainer">
                    <thead>
                        <tr>
                            <th class="width20 xs-width30">Contact User</th>
                            <th class="width30 xs-width60">Description</th>
                            <th class="width15 mobile-hidden">Address</th>
                            <th class="width10 mobile-hidden">Create Date</th>
                            <th class="width10 mobile-hidden">Status</th>
                            <th class="width15 mobile-hidden">Actions</th>
                            <th class="mobileInfo"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in requestsGrid.DataSource.Data">
                            <td class="width20 xs-width30">{{request.FirstName + ' ' + request.LastName}}</td>
                            <td class="width30 xs-width60">{{request.Description}}</td>
                            <td class="width15 mobile-hidden">{{request.PhysicalAddress}}</td>
                            <td class="width10 mobile-hidden">{{request.CreateDate | date: 'dd/MM/yyyy'}}</td>
                            <td class="width10 mobile-hidden">
                                <div class="animate-switch-container" ng-switch on="request.StatusCode">
                                    <span ng-switch-when="NEW" class="label label-success">{{request.StatusName}}</span>
                                    <span ng-switch-when="DECLINED" class="label label-danger">{{request.StatusName}}</span>
                                    <span ng-switch-when="COMPLETED" class="label label-primary">{{request.StatusName}}</span>
                                </div>
                            </td>
                            <td class="width15 mobile-hidden">
                                <small ng-if="request.StatusCode == 'NEW'" class="action-label label label-danger" ng-click="declineRequest(request);"><i class="fa fa-remove" style="padding-right:2px;"></i>Decline</small>
                                <small ng-if="request.StatusCode == 'NEW'" class="action-label label label-success" ng-click="completeRequest(request);"><i class="fa fa-pencil" style="padding-right:2px;"></i>Complete</small>
                            </td>
                            <td class="mobileInfo">
                                <i mobile-table-toggle class="fa fa-info-circle"></i>
                                <div class="info-container hide">
                                    <table>
                                        <tr>
                                            <td><b>Address</b></td>
                                            <td>{{request.PhysicalAddress}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Create Date</b></td>
                                            <td>{{request.CreateDate | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Status</b></td>
                                            <td>
                                                <span class="animate-switch-container" ng-switch on="request.StatusCode">
                                                    <span ng-switch-when="NEW" class="label label-success">{{request.StatusName}}</span>
                                                    <span ng-switch-when="DECLINED" class="label label-danger">{{request.StatusName}}</span>
                                                    <span ng-switch-when="COMPLETED" class="label label-primary">{{request.StatusName}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="text-right">
                                                <small ng-if="request.StatusCode == 'NEW'" class="action-label label label-danger" ng-click="declineRequest(request);"><i class="fa fa-remove" style="padding-right:2px;"></i>Decline</small>
                                                <small ng-if="request.StatusCode == 'NEW'" class="action-label label label-success" ng-click="completeRequest(request);"><i class="fa fa-pencil" style="padding-right:2px;"></i>Complete</small>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                </table>
                <div style="height:50px;" ng-show="requestsGrid.Paging.Pages.length > 0">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li ng-click="requestsGrid.SetPage($event, 1)" ng-disabled="requestsGrid.Paging.IsFirstPage"><a href="#">«</a></li>
                        <li ng-repeat="page in requestsGrid.Paging.Pages" ng-click="requestsGrid.SetPage($event, page)" ng-disabled="requestsGrid.Paging.PageIndex==page"><a href="#">{{page}}</a></li>
                        <li><a href="#" ng-click="requestsGrid.SetPage($event, requestsGrid.Paging.TotalPages)" ng-disabled="requestsGrid.Paging.IsLastPage">»</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </section>
</div>

<div ng-include="'app/components/salons/modals/saveSalonModalView.html'"></div>