/*@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);*/
html {
  min-height: 100%;
  height: 100%;
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  height: 100%;
}
html body .bar {
  background-color: #E91E63  !important;
}
html body .bar .btn-link {
  font-size: 12px;
}
html body .bar .title {
  color: #FFFFFF  !important;
}
html body .bar a {
  color: #FFFFFF  !important;
}
html body #popover {
  width: 100%;
  max-width: 100%;
  left: 0  !important;
  margin: 0  !important;
  background: transparent  !important;
}
html body #popover .content {
  min-height: 120px  !important;
  padding: 10px;
  background: #FFFFFF  !important;
  margin: 0 5px 5px 5px  !important;
}
html body #popover .content .row {
  padding: 0;
}
html body #popover .content .row input[type=search] {
  font-size: 14px;
  border-radius: 0;
}
html body #popover .content .row select {
  font-size: 14px;
  -webkit-appearance: menulist-button;
  /*webkit browsers */
  -moz-appearance: menulist-button;
  /*Firefox */
  appearance: menulist-button;
  /* modern browsers */
  border-radius: 0;
  height: 40px;
}
html body .content {
  background: #FFD1DC  !important;
}
html body .sp-main-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-main-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-main-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-main-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-salons-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-propmotions-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view {
  font-size: 14px;
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-salon-view-container .table-view .btn-categories {
  border-color: #FFFFFF  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view .table-view-divider {
  background-color: #F06292  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default {
  font-size: 14px;
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-heading {
  background-color: transparent  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-heading select {
  font-size: 14px;
  -webkit-appearance: menulist-button;
  /*webkit browsers */
  -moz-appearance: menulist-button;
  /*Firefox */
  appearance: menulist-button;
  /* modern browsers */
  border-radius: 0;
  height: 40px;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body {
  height: 90%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas .angular-google-map {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas .angular-google-map .angular-google-map-container {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .btn-categories {
  border-color: #FFFFFF  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default .table-view-divider {
  background-color: #F06292  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default p {
  color: #FFFFFF  !important;
}
html body .toolbar--material {
  background-color: #E91E63;
}
html body main {
  background: #FFD1DC;
  min-height: 100%;
  position: static;
  overflow: hidden;
}
html body main:after {
  content: " ";
  display: table;
  clear: both;
}
html body main:before {
  content: " ";
  display: table;
}
html body main .main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
html body main .main-header .logo {
  display: block;
  float: left;
  height: 60px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  background-color: #ff4081;
  color: #fff;
  border-bottom: 0 solid transparent;
}
html body main .main-header .logo b {
  padding-left: 5px;
  font-size: x-small;
}
html body main .main-header > .navbar {
  background-color: #ff4081;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
}
html body main .main-header > .navbar .sidebar-toggle {
  color: #fff;
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
}
/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
.wrapper {
  /* start 'enter' transition */
  /* end 'enter' transition */
}
.wrapper.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
.wrapper.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}