body .center-box {
  width: 360px;
  margin: auto;
  height: 100%;
}
body .center-box button {
  position: fixed;
  top: 35%;
  left: 40%;
  padding: 15px;
  border-color: #ecf0f5;
}
body .center-box button:hover {
  background-color: #F48FB1;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  body .center-box {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100%;
  }
}
body a {
  color: #3c8dbc;
}
body i.required {
  color: #dd4b39;
}
body .input-group,
body .input-group-btn {
  max-width: 300px;
}
body .form-control {
  border-radius: 0 !important;
  box-shadow: none;
  border-color: #d2d6de;
}
body .form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .btn-primary:hover,
body .btn-primary:active,
body .btn-primary.hover {
  background-color: #367fa9;
}
body .btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
body .form-group {
  margin-bottom: 5px  !important;
}
body div.k-valid-msg {
  display: none;
}
body div.k-invalid-msg {
  display: inline-block;
  color: #dd4b39  !important;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
}
body div.summary-validation-valid {
  display: none;
}
body div.summary-validation-invalid {
  display: inline-block;
  color: #dd4b39  !important;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid;
  box-shadow: 0 0.1px 0.1px #dd4b39, inset 0 1px 0 #fff;
  padding: 10px;
  border-radius: 1px;
  margin-top: 5px;
}
body div.haserror input,
body div.haserror select,
body div.haserror textarea {
  border: 1px solid #dd4b39  !important;
}
body .addItemButton {
  cursor: pointer;
}
body .addItemButton i {
  padding-right: 5px;
}
body .action-label {
  cursor: pointer;
}
.womenessentail button {
  width: 100px;
  height: 30px;
  left: -1px;
  top: 612px;
  color: #fff;
  background-color: #ff6091;
  border-color: #d81b60;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  font-size: 14.0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  z-index: 7;
  opacity: 1;
  pointer-events: auto;
}
.angular-google-map-container {
  height: 400px;
  margin-bottom: 15px;
}
.panel-primary {
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  #loadingmessage > div {
    font-size: 15px !important;
  }
}
#loadingmessage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  display: block;
  z-index: 99;
  opacity: 0.7;
  padding: 10px;
}
#loadingmessage > div {
  margin-left: 0;
  margin-right: -50%;
  color: white;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  width: 100%;
  height: 100%;
  position: absolute;
  /* 2 */
  top: 30%;
  background: url('../img/loading-image.gif') no-repeat scroll 8px 100%;
}
.modal {
  position: fixed;
  top: 120px;
  z-index: 11;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.modal .modal-content {
  border-radius: 0  !important;
}
.modal .modal-content .error-dialog-details {
  font-size: 12px  !important;
  text-overflow: ellipsis  !important;
  word-wrap: break-word  !important;
}
.modal .modal-content .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  padding: 10px;
  border-radius: 0;
}
/*@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);*/
html {
  min-height: 100%;
  height: 100%;
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  height: 100%;
}
html body .bar {
  background-color: #E91E63  !important;
}
html body .bar .btn-link {
  font-size: 12px;
}
html body .bar .title {
  color: #FFFFFF  !important;
}
html body .bar a {
  color: #FFFFFF  !important;
}
html body #popover {
  width: 100%;
  max-width: 100%;
  left: 0  !important;
  margin: 0  !important;
  background: transparent  !important;
}
html body #popover .content {
  min-height: 120px  !important;
  padding: 10px;
  background: #FFFFFF  !important;
  margin: 0 5px 5px 5px  !important;
}
html body #popover .content .row {
  padding: 0;
}
html body #popover .content .row input[type=search] {
  font-size: 14px;
  border-radius: 0;
}
html body #popover .content .row select {
  font-size: 14px;
  -webkit-appearance: menulist-button;
  /*webkit browsers */
  -moz-appearance: menulist-button;
  /*Firefox */
  appearance: menulist-button;
  /* modern browsers */
  border-radius: 0;
  height: 40px;
}
html body .content {
  background: #FFD1DC  !important;
}
html body .sp-main-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-main-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-main-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-main-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-salons-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salons-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view {
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-propmotions-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-propmotions-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view {
  font-size: 14px;
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
}
html body .sp-salon-view-container .table-view .btn-categories {
  border-color: #FFFFFF  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view .table-view-divider {
  background-color: #F06292  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salon-view-container .table-view p {
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default {
  font-size: 14px;
  background-color: transparent  !important;
  color: #FFFFFF  !important;
  border-top: 1px solid transparent  !important;
  border-bottom: 1px solid transparent  !important;
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-heading {
  background-color: transparent  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-heading select {
  font-size: 14px;
  -webkit-appearance: menulist-button;
  /*webkit browsers */
  -moz-appearance: menulist-button;
  /*Firefox */
  appearance: menulist-button;
  /* modern browsers */
  border-radius: 0;
  height: 40px;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body {
  height: 90%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas .angular-google-map {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .panel-body #map-canvas .angular-google-map .angular-google-map-container {
  height: 100%;
}
html body .sp-salon-direction-view-container .panel.panel-default .btn-categories {
  border-color: #FFFFFF  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default .table-view-divider {
  background-color: #F06292  !important;
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default li {
  border-bottom: 1px solid #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default li .push-right:after {
  color: #FFFFFF  !important;
}
html body .sp-salon-direction-view-container .panel.panel-default p {
  color: #FFFFFF  !important;
}
html body .toolbar--material {
  background-color: #E91E63;
}
html body main {
  background: #FFD1DC;
  min-height: 100%;
  position: static;
  overflow: hidden;
}
html body main:after {
  content: " ";
  display: table;
  clear: both;
}
html body main:before {
  content: " ";
  display: table;
}
html body main .main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
html body main .main-header .logo {
  display: block;
  float: left;
  height: 60px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  background-color: #ff4081;
  color: #fff;
  border-bottom: 0 solid transparent;
}
html body main .main-header .logo b {
  padding-left: 5px;
  font-size: x-small;
}
html body main .main-header > .navbar {
  background-color: #ff4081;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
}
html body main .main-header > .navbar .sidebar-toggle {
  color: #fff;
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px 15px;
  font-family: fontAwesome;
}
/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
.wrapper {
  /* start 'enter' transition */
  /* end 'enter' transition */
}
.wrapper.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
.wrapper.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}
.ModalContainer .row {
  margin-bottom: 5px;
}
.ModalContainer .row label {
  color: #333;
}
.ModalContainer .row .address-row {
  margin-bottom: 5px;
}
.ModalContainer .row .btn-modal {
  border-radius: 0;
  margin: 10px;
}
html body .wrapper #home-page main {
  min-height: 800px;
  position: relative;
}
html body .wrapper #home-page main .center-box {
  width: 100px;
  margin: auto;
  position: relative;
  height: 100%;
  min-height: 800px;
  padding-top: 10%;
}
html body .wrapper #home-page main .center-box button {
  background: #FFFFFF;
  color: #333;
}
@media (max-width: 767px) {
  html body .wrapper #home-page header {
    text-align: center;
  }
  html body .wrapper #home-page main .center-box {
    min-height: 600px;
    padding-top: 50%;
  }
}
html body .wrapper #salons-page .center-box {
  min-height: 600px;
  padding-top: 50%;
}
html body .wrapper #salons-page .list__item {
  background-color: transparent;
}
@media (max-width: 767px) {
  html body .wrapper .center-box {
    min-height: 600px;
    padding-top: 50%;
    width: 100%;
    text-align: center;
  }
}